<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LeanCode Nightly Feed" value="https://f.feedz.io/leancode/public/nuget/index.json" />
    <add key="aspnetcore" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
  </packageSources>
</configuration>
