<h4>@{ WriteLiteral(Model.Title); }</h4>

<ul>
    <li>
        A new notification!
    </li>

    <li>
        UserId: @{
            WriteLiteral(Model.UserId);
        }
    </li>

    <li>
        Content: @{
            WriteLiteral(Model.Content);
        }
    </li>
</ul>
